flows.json
[{"id":"d2e39c36.d8e1b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b724fd49.c5e3c","type":"ibmiot in","z":"d2e39c36.d8e1b","authentication":"apiKey","apiKey":"f30042df.70b8c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1001","applicationId":"","deviceType":"iotdevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":140,"wires":[["7fe790da.2b752","1240aace.b8cef5","c39f04a.64076f8","4ce2386e.ec80b8","5bc9276d.5610d8","5d992778.431518"]]},{"id":"a145ab94.ba4be8","type":"debug","z":"d2e39c36.d8e1b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":140,"wires":[]},{"id":"7fe790da.2b752","type":"function","z":"d2e39c36.d8e1b","name":"Temperature","func":"global.set('t',msg.payload.d.temperature)\nreturn{payload:msg.payload.d.temperature}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":40,"wires":[["a145ab94.ba4be8","be29ff8d.b92d"]]},{"id":"1240aace.b8cef5","type":"function","z":"d2e39c36.d8e1b","name":"Air Humidity","func":"global.set('h',msg.payload.d.humidity)\nreturn{payload:msg.payload.d.humidity}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":120,"wires":[["a145ab94.ba4be8","e82ded4d.d7c71"]]},{"id":"c39f04a.64076f8","type":"function","z":"d2e39c36.d8e1b","name":"Air Pressure","func":"global.set('p',msg.payload.d.pressure_API)\nreturn{payload:msg.payload.d.pressure_API}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":80,"wires":[["a145ab94.ba4be8","3c31d303.4641bc"]]},{"id":"be29ff8d.b92d","type":"ui_gauge","z":"d2e39c36.d8e1b","name":"Temperature","group":"612703d5.48bf3c","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":40,"wires":[]},{"id":"e82ded4d.d7c71","type":"ui_chart","z":"d2e39c36.d8e1b","name":"Air Humidity","group":"612703d5.48bf3c","order":1,"width":0,"height":0,"label":"Air Humidity","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":120,"wires":[[]]},{"id":"3c31d303.4641bc","type":"ui_gauge","z":"d2e39c36.d8e1b","name":"Air Pressure","group":"612703d5.48bf3c","order":2,"width":0,"height":0,"gtype":"gage","title":"Air Pressure","label":"units","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":80,"wires":[]},{"id":"4ce2386e.ec80b8","type":"function","z":"d2e39c36.d8e1b","name":"Soil Moisture","func":"global.set(\"m\",msg.payload.d.moisture)\nreturn{payload:msg.payload.d.moisture}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":160,"wires":[["a145ab94.ba4be8","d1ce8da9.9478"]]},{"id":"d1ce8da9.9478","type":"ui_chart","z":"d2e39c36.d8e1b","name":"","group":"612703d5.48bf3c","order":3,"width":0,"height":0,"label":"Soil Moisture Content","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":880,"y":160,"wires":[[]]},{"id":"3aa60313.d3644c","type":"ui_button","z":"d2e39c36.d8e1b","name":"Watering ON","group":"612703d5.48bf3c","order":4,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\": \"motoron\"}","payloadType":"json","topic":"topic","topicType":"msg","x":90,"y":360,"wires":[["2fd94f28.51558","a4d5ae78.f0935"]]},{"id":"aec49caf.2d251","type":"ui_button","z":"d2e39c36.d8e1b","name":"Watering OFF","group":"612703d5.48bf3c","order":5,"width":0,"height":0,"passthru":false,"label":"Watering OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\": \"motoroff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":100,"y":420,"wires":[["2fd94f28.51558","a4d5ae78.f0935"]]},{"id":"2fd94f28.51558","type":"debug","z":"d2e39c36.d8e1b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":360,"wires":[]},{"id":"a4d5ae78.f0935","type":"ibmiot out","z":"d2e39c36.d8e1b","authentication":"apiKey","apiKey":"f30042df.70b8c","outputType":"cmd","deviceId":"1001","deviceType":"iotdevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":360,"y":420,"wires":[]},{"id":"50d0fb01.dd44b4","type":"switch","z":"d2e39c36.d8e1b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"10000","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":300,"wires":[["51baa212.81254c"]]},{"id":"5bc9276d.5610d8","type":"function","z":"d2e39c36.d8e1b","name":"Rainfall","func":"global.set(\"r\",msg.payload.d.rainfall)\nreturn{payload:msg.payload.d.rainfall}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":240,"wires":[["a145ab94.ba4be8","790d5f86.91fe9","1ea0f7cd.c917c8"]]},{"id":"790d5f86.91fe9","type":"ui_chart","z":"d2e39c36.d8e1b","name":"Rainfall","group":"612703d5.48bf3c","order":6,"width":0,"height":0,"label":"Rainfall Data","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f75b2","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":840,"y":240,"wires":[[]]},{"id":"1ea0f7cd.c917c8","type":"rbe","z":"d2e39c36.d8e1b","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":110,"y":300,"wires":[["50d0fb01.dd44b4"]]},{"id":"51baa212.81254c","type":"http request","z":"d2e39c36.d8e1b","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=yQsITxLJGrMiOnatHdXwfgzkmNp81oh9DlqEAFR47SeZWVb0jY3nWf5ax4uVHhLMwgmXZ7KBYdGEJslC&message=Warning: Too Much Water in the Field...&language=english&route=q&numbers=8686761613","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":300,"wires":[["cf38198b.2eb198"]]},{"id":"cf38198b.2eb198","type":"debug","z":"d2e39c36.d8e1b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":300,"wires":[]},{"id":"30453aa0.149776","type":"http in","z":"d2e39c36.d8e1b","name":"HTTP IN","url":"/sensordata","method":"get","upload":false,"swaggerDoc":"","x":80,"y":480,"wires":[["c5c0661c.a8fcd8"]]},{"id":"3d271912.c23136","type":"http response","z":"d2e39c36.d8e1b","name":"","statusCode":"","headers":{},"x":550,"y":480,"wires":[]},{"id":"c5c0661c.a8fcd8","type":"function","z":"d2e39c36.d8e1b","name":"HTTP Response","func":"msg.payload = {\"Temperature\": global.get(\"t\"), \"Humidity\":global.get(\"h\"), \"Pressure\":global.get(\"p\"), \"Moisture\":global.get(\"m\"), \"RainFall\":global.get(\"r\"), \"Recommended Crop\":global.get(\"rc\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":480,"wires":[["3d271912.c23136"]]},{"id":"175c2475.7cfa1c","type":"http in","z":"d2e39c36.d8e1b","name":"m input","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":70,"y":540,"wires":[["1b060b62.f03485"]]},{"id":"e6a8a827.c41ae8","type":"http response","z":"d2e39c36.d8e1b","name":"Response","statusCode":"","headers":{},"x":760,"y":500,"wires":[]},{"id":"1b060b62.f03485","type":"function","z":"d2e39c36.d8e1b","name":"Season Data","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":540,"wires":[["e6a8a827.c41ae8","7597c2c2.93f98c","928d0dba.91446"]]},{"id":"7597c2c2.93f98c","type":"debug","z":"d2e39c36.d8e1b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":540,"wires":[]},{"id":"928d0dba.91446","type":"ibmiot out","z":"d2e39c36.d8e1b","authentication":"apiKey","apiKey":"f30042df.70b8c","outputType":"cmd","deviceId":"1001","deviceType":"iotdevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":760,"y":580,"wires":[]},{"id":"5d992778.431518","type":"function","z":"d2e39c36.d8e1b","name":"Recommended Crop","func":"global.set('rc',msg.payload.d.Recommended_Crop)\nreturn{payload:msg.payload.d.Recommended_Crop}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":200,"wires":[["a145ab94.ba4be8","7ac7cffe.394cd"]]},{"id":"7ac7cffe.394cd","type":"ui_text","z":"d2e39c36.d8e1b","group":"612703d5.48bf3c","order":7,"width":0,"height":0,"name":"Crop Recommendation","label":"Recommended Crop","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":200,"wires":[]},{"id":"f30042df.70b8c","type":"ibmiot","name":"iotdata","keepalive":"60","serverName":"y0d2ux.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"612703d5.48bf3c","type":"ui_group","name":"Default","tab":"5dfcfcc9.0b2424","order":1,"disp":true,"width":"6","collapse":false},{"id":"5dfcfcc9.0b2424","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]